//Font Imports

@import url('https://fonts.googleapis.com/css?family=Bungee|Roboto+Condensed:300,400,400i,700');

// Variables

// Fonts
$bungee: 'Bungee', cursive;
$roboto-condensed: 'Roboto Condensed', sans-serif;

// Greys
$font-color: #262828;
$light-grey-1: #f1f1f1;
$light-grey-2: #f9f9f9;

// Brand Colors
$lime-green: #89bb55;
$dark-purple: #4f4b99;
$deep-pink: #c63e8f;
$dark-orange: #e2693e;
$pale-yellow: #f5bc45;

$asfalt-texture: url('../images/asfalt-dark.png');
